.body {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  height: 92.5vh;
  width: 100vw;

  overflow: hidden;
}

.file-input {
  display: none;
}

.title {
  display: block;
  text-align: center;
}

.top-section {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.bottom-section {
  display: block;
  height: 20%;
  width: 100%;
}

.input-data {
}

.options {
    
    justify-content: center;

    > * {
        margin: 2vh 0;
    }
}

.reverse {
    display: flex;
    flex-direction: column;
}

.split,
.small-split {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2.5vw;
}

.split {
  width: 40%;
}

.small-split {
  width: 20%;
  vertical-align: middle;
}

.output-buttons {
  display: flex;
  flex-direction: column;
  height: 18%;
  justify-content: space-around;
  position: absolute;
  right: 2vw;
  z-index: 5;
}

.output {
  width: 100%;
  height: 100%;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
  font-size: 2vh;
}

.split textarea {
    height: 80%;
}

::ng-deep .split .mat-form-field-wrapper,
::ng-deep .split .mat-form-field-flex,
::ng-deep .split .mat-form-field-infix {
  height: 100% !important;
}

.output textarea {
  height: 100%;
}

::ng-deep .output .mat-form-field-wrapper,
::ng-deep .output .mat-form-field-flex,
::ng-deep .output .mat-form-field-infix {
  height: 100% !important;
  padding-bottom: 0;
}

::ng-deep .output .mat-form-field-underline {
    display: none;
}
