.info {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px;
    width: 35vw;
    height: 35vh;
    padding: 25px;
    cursor: pointer;

    background-color: rgba(206, 206, 206, 0.01);
    border: 6px dashed;
    border-color: lightgray;
    border-radius: 25px; 
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4px;
    width: 35vw;
    height: 35vh;
    padding: 25px;
    cursor: pointer;

    background-color: rgba(206, 206, 206, 0.75);
    border-radius: 25px; 
}

.dragged {
    background-color: rgba(128, 128, 128, 0.75);
    color: black;
}

mat-icon {
    height: 5vh;
    width: 5vh;
    font-size: 5vh;
}

h6 {
    font-style: italic;
}

.file-input {
    display: none;
}