<div class="topnav">
    <a routerLink="./home">
        <button mat-flat-button color="secondary" class="logo-btn" routerLink="./home">
            <mat-icon svgIcon="aat" style="transform: translate(0, -8px);"></mat-icon> Home
        </button>
    </a>
    <a routerLink="./race-results-tool">
        <button mat-flat-button color="secondary" class="logo-btn" routerLink="./race-results-tool">
            <i class="fa-solid fa-flag-checkered"></i> Race Results Tool
        </button>
    </a>
    <a routerLink="./entrylist-editor">
        <button mat-flat-button color="secondary" class="logo-btn" routerLink="./entrylist-editor">
            <i class="fa-solid fa-clipboard-list"></i> Entry List Editor
        </button>
    </a>
    <a href="https://paypal.me/brexite?country.x=GB&locale.x=en_GB" target="_blank">
        <button mat-flat-button color="secondary" class="logo-btn donate">
            <i class="fa-brands fa-paypal"></i> Donate To Support This Project
        </button>
    </a>
</div>
