<div class="topnav">
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./home">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./race-results-tool">
        <i class="fa-solid fa-flag-checkered"></i> Race Results Tool
    </button>
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./entrylist-editor">
        <i class="fa-solid fa-clipboard-list"></i> Entry List Editor
    </button>
</div>
