@import '../../../variables';

* {
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
}

button {
  margin: 0px 10px;
  height: 100%;
  pointer-events: all;
  justify-content: center;
  vertical-align: middle;
}

button:hover {
  background-color: $revGold;
}

button > i {
  pointer-events: none;
}

.donate {
  float: right;
}

.topnav {
  background-color: $revGrey;
  display: block;
  position: sticky;
  top: 0;
  height: 7.5%;
  padding: 8px;
  box-shadow: 0px 0px 5px 3px #111;
  border-bottom: 2px solid $revGold;
}
