* {
    margin:0;
    padding:0;
    z-index: 1;
    pointer-events: none;
  }
  
  button {
    height: 50px;
    margin: 0px 10px;
    height: 100%;
    pointer-events: all;
    justify-content: center;
    vertical-align: middle;
  }

  button:hover {
    background-color: #97103d;
  }
  
  button > i {
    pointer-events: none;
  }
  
  .topnav {
    background-color: #e91e63;
    // background-color: aliceblue;
    display: block;
    position: sticky;
    top: 0;
    height: 6.5%;
    padding: 10px;
    box-shadow: 0px 0px 5px 3px #111;
  }