<div class="topnav">
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./">
        <mat-icon svgIcon="aat" style="transform: translate(0, -8px);"></mat-icon> Home
    </button>
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./race-results">
        <i class="fa-solid fa-flag-checkered"></i> Race Results Tool
    </button>
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./race-creation">
        <i class="fa-solid fa-server"></i> Race Creation Tool
    </button>
    <button mat-flat-button color="secondary" class="logo-btn" routerLink="./entrylist-editor">
        <i class="fa-solid fa-clipboard-list"></i> Entry List Editor
    </button>
    <a href="https://paypal.me/brexite?country.x=GB&locale.x=en_GB" target="_blank"><button mat-flat-button color="secondary" class="logo-btn donate">
        <i class="fa-brands fa-paypal"></i> Donate To Support This Project
    </button></a>
</div>
