// Colours //
$background: rgb(232, 236, 240);
$darkBlue: rgb(23, 23, 85);
$accentBlue: #2868b2;
$errorColor: rgb(242, 94, 94);
$successColor: rgb(84, 201, 84);
$warningColor: rgb(225, 198, 48);
$lightGray: rgb(153, 164, 184);

$revGold: rgb(252, 163, 17);
$revBlue: rgb(20, 33, 61);
$revGrey: #555555;

$accRed: rgb(254, 0, 0);
$accWhite: rgb(255, 255, 255);
$accBlack: rgb(0, 0, 0)