/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: #252526; color: #F1F1F1}

@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables.scss';
@import '~ngx-toastr/toastr.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
     
$fontConfig: (
  display-4: mat-typography-level(112px, 112px, 300, 'Noto Sans', -0.0134em),
  display-3: mat-typography-level(56px, 56px, 400, 'Noto Sans', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Noto Sans', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Noto Sans', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Noto Sans', 0.0000em),
  title: mat-typography-level(20px, 32px, 500, 'Noto Sans', 0.0075em),
  subheading-2: mat-typography-level(16px, 28px, 400, 'Noto Sans', 0.0094em),
  subheading-1: mat-typography-level(15px, 24px, 500, 'Noto Sans', 0.0067em),
  body-2: mat-typography-level(14px, 24px, 500, 'Noto Sans', 0.0179em),
  body-1: mat-typography-level(14px, 20px, 400, 'Noto Sans', 0.0179em),
  button: mat-typography-level(14px, 14px, 500, 'Noto Sans', 0.0893em),
  caption: mat-typography-level(12px, 20px, 400, 'Noto Sans', 0.0333em),
  input: mat-typography-level(inherit, 1.125, 400, 'Noto Sans', 00.0000em)
);

.toast {
  opacity: 1 !important;
}

mat-icon {
  position: relative;
  top: -2px; /*Change this to adjust the icon*/
}

.fa-brands, .fa-solid {
  position: relative;
  top: -2px; /*Change this to adjust the icon*/
}

mat-drawer-inner-content {
  z-index: 999 !important;
  position: relative !important;
}