// Colours //
$background: rgb(232, 236, 240);
$darkBlue: rgb(23, 23, 85);
$accentBlue: #2868b2;
$errorColor: rgb(242, 94, 94);
$successColor: rgb(84, 201, 84);
$warningColor: rgb(225, 198, 48);
$lightGray: rgb(153, 164, 184);